# Project exclude paths
/.gradle/
/LearnJava/out/
/LearnJava/out/production/classes/
/Simple Chatty Bot/task/build/
/Simple Chatty Bot/task/out/
/Simple Chatty Bot/task/out/production/classes/
/Simple Chatty Bot/task/out/test/classes/
/Topics/Comments/The countdown/out/
/Topics/Comments/The countdown/out/production/classes/
/Topics/Comments/The forgotten comments/out/
/Topics/Comments/The forgotten comments/out/production/classes/
/Topics/Comments/Theory/out/
/Topics/Comments/Theory/out/production/classes/
/Topics/Increment and decrement/Decrement all/out/
/Topics/Increment and decrement/Decrement all/out/production/classes/
/Topics/Increment and decrement/Theory/out/
/Topics/Increment and decrement/Theory/out/production/classes/
/Topics/Introduction to Java/Hello_/out/
/Topics/Introduction to Java/Hello_/out/production/classes/
/Topics/Introduction to Java/Theory/out/
/Topics/Introduction to Java/Theory/out/production/classes/
/Topics/Overview of the basic program/Cats are robots/out/
/Topics/Overview of the basic program/Cats are robots/out/production/classes/
/Topics/Overview of the basic program/Hello, Java/out/
/Topics/Overview of the basic program/Hello, Java/out/production/classes/
/Topics/Overview of the basic program/The Hello World program/out/
/Topics/Overview of the basic program/The Hello World program/out/production/classes/
/Topics/Overview of the basic program/Theory/out/
/Topics/Overview of the basic program/Theory/out/production/classes/
/Topics/Printing data/Digits from 0 to 9 in a single line/out/
/Topics/Printing data/Digits from 0 to 9 in a single line/out/production/classes/
/Topics/Printing data/First, second, third/out/
/Topics/Printing data/First, second, third/out/production/classes/
/Topics/Printing data/From 0 to 4/out/
/Topics/Printing data/From 0 to 4/out/production/classes/
/Topics/Printing data/Printing a magic letter/out/
/Topics/Printing data/Printing a magic letter/out/production/classes/
/Topics/Printing data/The result of a Tic-Tac-Toe game/out/
/Topics/Printing data/The result of a Tic-Tac-Toe game/out/production/classes/
/Topics/Printing data/Theory/out/
/Topics/Printing data/Theory/out/production/classes/
/Topics/Printing data/We need to learn Java/out/
/Topics/Printing data/We need to learn Java/out/production/classes/
/Topics/Scanning the input/Guest list of a hotel/out/
/Topics/Scanning the input/Guest list of a hotel/out/production/classes/
/Topics/Scanning the input/Hiring a chef/out/
/Topics/Scanning the input/Hiring a chef/out/production/classes/
/Topics/Scanning the input/Print strings in the reverse order/out/
/Topics/Scanning the input/Print strings in the reverse order/out/production/classes/
/Topics/Scanning the input/Printing each word in a new line/out/
/Topics/Scanning the input/Printing each word in a new line/out/production/classes/
/Topics/Scanning the input/Printing strings in the same order/out/
/Topics/Scanning the input/Printing strings in the same order/out/production/classes/
/Topics/Scanning the input/Theory/out/
/Topics/Scanning the input/Theory/out/production/classes/
/Topics/String/Replacing 'a' with 'b'/out/
/Topics/String/Replacing 'a' with 'b'/out/production/classes/
/Topics/String/Theory/out/
/Topics/String/Theory/out/production/classes/
/Topics/The for-loop/The count of numbers divisible by N/out/
/Topics/The for-loop/The count of numbers divisible by N/out/production/classes/
/Topics/The for-loop/The roots of an equation/out/
/Topics/The for-loop/The roots of an equation/out/production/classes/
/Topics/The for-loop/Theory/build/
/Topics/The for-loop/Theory/out/
/Topics/The for-loop/Theory/out/production/classes/
/Topics/Types and variables/Assignments/out/
/Topics/Types and variables/Assignments/out/production/classes/
/Topics/Types and variables/Assignments (1)/out/
/Topics/Types and variables/Assignments (1)/out/production/classes/
/Topics/Types and variables/Fill the declaration/out/
/Topics/Types and variables/Fill the declaration/out/production/classes/
/Topics/Types and variables/Invalid declaration of variables/out/
/Topics/Types and variables/Invalid declaration of variables/out/production/classes/
/Topics/Types and variables/Theory/out/
/Topics/Types and variables/Theory/out/production/classes/